html {
/* 
   width:100%;
  overflow-x:auto;
  overflow-y:hidden;
*/
  margin:0px;
  padding:0px;
  height:100%;
}
body {
/*  overflow-y:hidden;*/
/*  width:100%;*/
  height:100%;
  margin:0px;
  padding:0px;
  border:0px;
/*
  height:auto !important;
  min-height:100%;
  max-height:100%;
*/
  font-family: Arial, sans-serif, "Trebuchet MS", "Lucida Grande", Verdana, Lucida, Geneva, Helvetica;
  font-size:0.98em;
/*  background-color:#ffffff;*/
  color:#4E4E4E;
}
form {
  margin:0;
  padding:0;
}
/* адрес объекта */
.boxcomboAsTitle {
  border:none;
  font-size:100%;
  color:#455C82;
  font-weight:bold;
}
/* заголовки групп */
legend.groupTitle, a.groupTitle, caption.groupTitle, td.groupTitle {
  padding-bottom:6px;
/*
  font-family:Arial, Verdana, Lucida, Geneva, Helvetica, sans-serif;
  font-size:80%;
*/
  font: bold 100% "Times New Roman", Georgia, serif;
  text-shadow: 1px 1px 0 #FFFFFF;
  font-weight:bold; 
  color:#82060A;
/*  color:#92A38B; */
}
/* grid-group title */
/*
caption.groupTitle div{
  font-size:90%;
}
*/
fieldset.groupBorder, table.groupBorder {
/*  border:solid 1px #eaeaea;*/
  border:solid 1px #d8d8d8;
  margin:0px 2px 2px 2px;
  padding: 1px 4px 1px 4px;
  border-radius:6px;
}
fieldset.groupBorderBottom, table.groupBorderBottom {
  border:solid 1px #d8d8d8;
  margin:0px;
  border-radius: 0px 6px 6px 6px;
}
/* component caption */
.componentCaption {
  font-size:80%;
/*  color:#868686;*/
  color:#191919;
  margin-left:2px;
  margin-right:2px;
}
/* info */
.infoText {
  font-size:10px;
  font-weight:normal;
  color:#868686;
}
.infoBox {
  padding-left:6px;
  padding-right:6px;
  white-space:nowrap;
  background-color:#f5f5f5;
  border-radius:6px;
 -moz-border-radius:6px;
 -webkit-border-radius:6px;
}
/* button caption */
.buttonCaption {
  font-size:85%;
}
#monitor {
  font-size:85%;
}
.panelTopLeft {
  line-height:normal;
  padding:0px 0px 0px 5px;
  background:url("../img/bmPanelLeft.png") no-repeat left top;
  color:#ddd;
}
.panelTopRight {
  padding:5px 15px 5px 8px;
  background:url("../img/bmPanelRight.png") no-repeat right top;
}
.data {
  font-family:Arial, sans-serif;
  font-size:80%;
  outline:none;
/*  background-color:transparent;*/
  background-color:#FFFFFF;
}
input.data, textarea.data {
  padding:0px 2px;
  margin-bottom:0px; 
  margin-left:0px;
/*
  border:solid 1px #ccc;
  border-radius:3px;
*/
  border:solid 1px #D0D0D0;
  border-radius:3px;
}
input.dataMarker, textarea.dataMarker {
  border-color: red;
}
textarea.data {
  padding-top: 3px;
  padding-bottom: 3px;
  resize: vertical;
}
table.attr {
  outline: none;
/*  border: none;*/
  border-collapse: collapse;
  margin-bottom: 2px;
}
table.attrBorder {
  border: solid 1px #eee;
}

/* background selected */
.backgroundSelected {
  background-color:#ffffb0;
}

/* disable для кнопки a href */
.buttonLinkDisable {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";  /* IE 8 */
  filter: alpha(opacity=20); /* IE 5-7 */
  -moz-opacity: 0.2; /* Netscape */
  -khtml-opacity: 0.2;  /* Safari 1.x */
  opacity: 0.2; /* Для остальных браузеров */
  color:#000;
}

/* BUTTON IMAGE */
a.buttonImage {
padding:1px; 
position:relative; 
/*
font-family: 'Open Sans', sans-serif; 
font-size:14px; 
font-weight:bold;
color:#fff; 
*/
text-decoration:none; 
border: solid 0px #eee; 
background-image: linear-gradient(bottom, rgb(171,27,27) 0%, rgb(212,51,51) 100%);
border-radius: 3px;
outline:none;
} 
a.buttonImage:active {
padding-bottom:0px; 
padding-left:2px; 
padding-right:0px; 
padding-top:2px; 
top:1px; 
background-color:#FFFF7D;
background-image: linear-gradient(bottom, rgb(171,27,27) 100%, rgb(212,51,51) 0%);
}

/* CONTAINER */

.containerTopPanel {
/*
  position:fixed;
  top:0;
  left:0;
  z-index:1;	
  width:100%;
  background-color:#FFF;
*/
  font-family: "Trebuchet MS", Verdana, Arial;
}

#containerTopPanel td.panelTop {
  vertical-align:middle;
}

#containerTopPanel .title {
  text-align:center;
/*  font: normal 90% "Trebuchet MS", Verdana, Arial;*/
/*  font: bold 95% "Times New Roman", Georgia, serif;*/
  font: bold 95% "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-shadow: 0 1px 1px rgba(255,255,255,0.8);
/*  color:#373737;*/
/*  color: #747474;*/
/*  color: #666666;*/
  color: #002281;
  text-shadow: 1px 1px 0 #FFFFFF;
/*  line-height: 0.5;*/
/*  line-height: 1.3;*/
  display:block;
}
#containerTopPanel a {
  text-decoration:none;
  outline:none;
  line-height: 1;
}
/* завершить сеанс пользователя */
.cancelSession {
  background: url(../img/cancel.png) no-repeat center center;
  color:transparent;
}
.cancelSession:active  {
  position: relative;
  top: 1px;
}



iframe.canvas {
  display:block;
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  border:none;
  border-spacing:0;
}





/*
table.container {
  border-spacing:0px;
  padding:0px;
  margin:0px;
  outline:none;
  border-collapse:collapse;
  border:0px;
  width:100%;
  height:100%;
}

table.container iframe.container {
  display:block;
  padding:0px;
  margin:0px;
  height:100%;
  max-height:100%;
  border:0px;
  border-spacing:0px;
}

table.container .caption {
  font-size:70%;
  color:#3E6791;
}

*/


/*
table.container td {
  vertical-align:top;
}
table.container td.panelTop {
  height:35px;
  max-height:35px;
  vertical-align:middle;
  font-family:Arial, Verdana, Lucida, Geneva, Helvetica, sans-serif;
}
table.container td.panelTop a {
  text-decoration:none;
  cursor:hand;
}
*/



.vControlPanel {
  vertical-align:top;
  margin:0;
  padding:2px;
}

table.container .right {
/*  font-size:85%;*/
  color:#FFFFCC;
  text-shadow: -1px -1px 0 rgba(107,107,107,0.3);
/*  padding: 5 3 5 5px;*/
  padding: 0px 3px 3px 0px;
  font-weight:bold;
  text-align:right;
  vertical-align:middle;
}
table.container .left {
  font-size:80%;
  color:#FFFFCC;
  text-align:center;
  vertical-align:middle;
}





table.container td.x-separator {
  width:3px;
  background-color:#fff;
  border:none;
  background: url(../img/px_gray.bmp) repeat-y center;
}
table.container td.h-splitter {
  height:3px;
  background-color:#eee;
  background: url(../img/px_gray.bmp) repeat-x center;
  cursor:hand;
}
/* tree navigator */
.groupTreeview{
  margin:0px;
  padding:0px;
}
/* user  box */
#userBox a {
  font-size:80%;
  color:#ccc;
}
.checkConnect {
  color:transparent;
  background: url(../img/indicatorGreenOn.gif) no-repeat center center;
}
.checkConnectError {
  color:transparent;
  background: url(../img/indicatorRedOn.gif) no-repeat center center;
}
.checkConnectNone {
  color:transparent;
  background: url(../img/indicatorGreyOn.gif) no-repeat center center;
}

/* container overlay readonly */
#containerOverlay.off {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  cursor:default;
}
#containerOverlay.on {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";  /* IE 8 */
  filter: alpha(opacity=45); /* IE 5-7 */
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=45);
  -moz-opacity: 0.45;
  -khtml-opacity: 0.45;
  opacity: 0.45;
  cursor:wait;
}

/* drag-n-drop container */
.popupDragContainer {
  padding:    0px;
  margin-top: 0px;
  display:    none;
  position:   absolute;
  z-index:    50;
  cursor:     hand;
  background: #eee;
  color:      #fff;
}

/*** alert box ***/
#boxAlert {box-shadow: 0px 0px 10px #B9B9B9; border:4px ridge #fff; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; background-color:#f7f7f7;}
#boxAlert a.close {background: url(../img/cancel.png) no-repeat center center; color:transparent;}
#boxAlert .titlebar {font-family: Arial,Tahoma,sans-serif,Times New Roman; color: #FFFFCC; background: #4477a1; font-size: 12px; font-weight: bold;}
#boxAlert .popupMenubar {background-color:#E5EAF1; padding-left:6px;padding-bottom:3px;}
#boxAlert a.popupMenu {font-family:Arial,sans-serif;font-size:11px;font-weight:bold;color:#808080;text-decoration:none;margin:0px;padding:0px;padding-left:3px;padding-right:3px}
#boxAlert a.popupMenu:visited {color:#808080;text-decoration:none;}
#boxAlert a.popupMenu:hover,a.popupMenu:active {color:#808080;text-decoration:underline;color:#E60000}
#boxAlert .content {font-size:80%;padding:12px;color:#000;}

/*** компенсация alert  установок ***/
#boxAlert #boxTextTemplateContainer #lookup .data {
  font-size:100%;
}
#boxAlert #lookup div.edit {
  line-height: 19px;
}

/*** text template box ***/
#boxTextTemplateContainer table, td {
  margin:0px;
  padding:0px;
  border-collapse: collapse;
}
#boxTextTemplateContainer td.reception {
  background-color:#ffffb0;
}
#TextTemplateSource #TextTemplateGroup div {
  margin:2px;
  padding:0px 4px;
  border: 1px solid #ccc;
  border-radius:4px;
/*  background-color:#EAF4FF;*/
/*  background-color:#eaeef1;*/
  background-color:#dee5e9;
}
#TextTemplateSource #TextTemplateGroup div.over {
  background-color:#ffffb0;
  cursor:pointer;
}
#TextTemplateResult textarea {
  margin:1px;
  padding:2px;
  border:1px solid #eee;
  border-radius:4px;
}
#boxTextTemplateControl input {
  vertical-align:bottom;
  margin:0px;
  font-size:98%;
}

/*** progress bar ***/
.progress_box {
  width        : 10px;
  font-size    : 7px;
  padding      : 0px;
  margin       : 0px;
  margin-right : 2px;
}

/* file load */
.fileLoadContainer {
  display:inline-block;
  white-space:nowrap;
/*  border:1px solid #ccc;*/
  border:1px solid #D0D0D0;
  border-radius:6px;
/*  height:20px;*/
/*  line-height:20px;*/
}
.fileLoad {
  margin:0px;
  padding:0px;
/*  height:18px;*/
/*  line-height:18px;*/
  border:0px solid transparent;
  background: inherit;

}
a.file, a.file:hover, a.file:active {
  font-size:80%;
  color:#4E4E4E;
  text-decoration:underline;
  cursor:hand;
}
a.fileClear {
  background: url(../img/clear.gif) no-repeat center center;
}
a.fileClear:active {
  position:relative;
  top:1px;
}

/* сообщения */
#messTable {
  border:solid 1px #ccc;
  border-right:none;
  border-bottom:none;
  text-align:center;
}
#messTable th {
  background-color:#e6e6e6;
  border:solid 1px #ccc;
  border-left:none;
  border-top:none;
  padding-left:4px;
  padding-right:4px;
}
#messTable td {
  vertical-align:top;
  border:solid 1px #ccc;
  border-left:none;
  border-top:none;
}

/* Кастомные стили для украшения */
.bigData {
/*  color: #82060A;*/
/*  color: #AC0303;*/
  color: #c00000 !important;
  font-family:Arial, sans-serif;
  font-weight: bold;
/*  background-color:transparent;*/
}
input.bigData, textarea.bigData {
/*
  padding:0 2;
  margin-bottom:0px; 
  border:solid 1px #ccc;
*/
}
.boldData {
  color:#000;
  font-weight: bold;
}

.groupTitleBig {
/*  font: bold 100% Georgia,serif;*/
/*  font: bold 75% "Trebuchet MS", Verdana, Arial;*/

  font: bold 75% "Times New Roman", Georgia, serif;
  text-transform:uppercase;
  text-shadow: 1px 1px 0 #FFFFFF;
  color:#3b6282;
/*
font-size:95%;
font-weight: bold;
color:#0054A8;
color:#00509F;
*/
}
.groupBorderBig {
/*  border-color:#DDEEFF;*/
/*  border-color:#ECF5FF;*/
/*  border-color:#fff;*/
  margin-top:6px;
  margin-bottom:4px;
/*  border:solid 1px #CCE6FF;*/
  border:solid 1px #BDD0E0;
  border-radius:6px;
}

iframe.frameAction {
  margin:0;
  padding:2px;
  border:none;
  background-color:#fff;
  overflow:auto;
  resize:both;
}

/*** VERSION BOX ****/

a.versionField {
  color:#868686;
  outline:none;
}
a.versionField:hover {
  color:#000;
}
a.versionField:active {
  position:relative;
  top:1px;
}
/* div-container */
#versionData {
  position:relative;
  overflow-x:hidden;
  overflow-y:auto;
  max-height:500px;
}
#versionData table.versionList {
  border-spacing: 1px;
  border: 1px solid #666;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  margin: 2px;
  margin-bottom: 6px;
}
#versionData table.versionList th {
  padding: 4px !important;;
  background-color: #c5c5c5;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.6);
}
#versionData table.versionList th, table.versionList td {
  font-size: 95%;
  border:none;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 2px;
}
#versionData table.versionList td.info {
  text-align: center;
}
#versionData table.versionList th.first {
  border-radius: 5px 0 0 0;
}
#versionData table.versionList th.last {
  border-radius: 0 5px 0 0;
}
#versionData table.versionList th.both {
  border-radius: 5px 5px 0 0;
}
/* заголовки версионных групп */
a.versionGroup {
  outline:none;
  font-size:100%;
  text-decoration:underline !important;
}
a.versionGroup:active {
  position:relative;
  top:1px;
}
