.button {
/*  margin: 0px -3px 1px 0px;*/
/*  padding: 0.5em 1.0em;*/
  margin: 0px -2px 1px 0px;
  padding: 0.9em 1.0em;  /* высота ширина */
  color: #373737;
  font: normal 0.65em "Georgia", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.8);

  border: 1px solid rgba(0,0,0,0.3);
  border-top-color: rgba(0,0,0,0.1);
  border-left-color: rgba(0,0,0,0.1);
  border-radius: 0.6em 0.6em 0.6em 0.6em;
/*  transition: 1.0s;*/
}

.button:hover,.button:focus {
  color:#7B7000;
  border-bottom-color: rgba(0,0,0,0);
}
.button:active  {
  position: relative;
  top: 1px;
  cursor:wait;
}
.button.fixed {
  border-radius: 0.6em 0.6em 0 0;
  border-bottom: none;
  padding-bottom: 1em;
  position: relative;
}
.button.tab {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* компактное представление */
.button.mini {
  padding: 0.2em 0.2em 0.4em;     /* геометрия */
}

.button.disabled, .button.disabled:hover, .button.disabled:active {
  background-color: #f0f0f0;
  background-image: none;
  -moz-background-size: 3px 3px;
  -webkit-background-size: 3px 3px;            
/*
  color: #f9f9f9;
  text-shadow: 1px 2px 0 rgba(0,0,0,0.3);
*/
  color: rgba(255,255,255,0.5);
  text-shadow: 1px 1px 1px #494949;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 0.6em 0.6em 0.6em 0.6em;
  top: 0px;
  cursor:default;
}


/***  BUTTON  ***/
button.button-b {
  display:inline-block;
  padding: 5px 10px;
/*  height:25px;*/
  color: #373737;
  font: normal 0.7em Tahoma, Helvetica, sans-serif;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  outline-style:none;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 0.3em 0.3em 0.3em 0.3em;
  -moz-border-radius: 0.3em 0.3em 0.3em 0.3em;
  opacity: 1;
}
button.button-b:active  {
  position: relative;
  top: 1px;
}
button.button-b.fixed {
  border-radius: 0.3em 0.3em 0 0;
  border-bottom: none;
  top: 0px;
}
button.button-b:disabled {
  background-color: #eee;
  background-image: none;
  -moz-background-size: 0.3em 0.3em;
  -webkit-background-size: 0.3em 0.3em;
  color: #a0a0a0;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  top: 0px;
  cursor:default;
}
