/*===========================================================================================================================*/
/* <div>                                                                                                                     */
/*   <a class="buttonGradient buttonGradientEnable" title="Test" href="javascript:void(0)" onclick=""><span>Test</span></a>  */
/* </div>                                                                                                                    */
/*===========================================================================================================================*/

.buttonGradient {
  margin: 0px 0px -1px -2px;
  text-decoration: none;
  font: bold 0.8em arial, helvetica, sans-serif; /* em: для масштабирования кнопки */
  display: inline-block;
  text-align: center;
  color: #ddd;
  border: 1px solid #9c9c9c; /* Запасной стиль */
  border: 1px solid rgba(0, 0, 0, 0.3);            
  text-shadow: 0 1px 0 rgba(0,0,0,0.4);
  box-shadow: 0 0 .05em rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
}

.buttonGradient, .buttonGradient span {
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
}

.buttonGradient span {
/*  border-top: 1px solid #fff;*/ /* Fallback style */
/*  border-top: 1px solid rgba(255, 255, 255, 0.5); */
  border-top: 1px solid #eee;
  display: block;
/*    padding: 0.5em 2.5em;*/
  padding: 0.2em 1.0em;     /* геометрия */
  /* Фоновый паттерн */
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
                    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
                    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))),
                    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05)));
  background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                    -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                    -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
                    -moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);
  /* Настройки паттерна */
  -moz-background-size: 3px 3px;
  -webkit-background-size: 3px 3px;            
}

/* компактное представление */
.buttonGradient span.mini {
  padding: 0.1em 0.1em;     /* геометрия */
}

/* горизонтальное меню */
.buttonGradient span.hmenu {
  padding: 0.2em 0.5em;     /* геометрия */
}

.buttonGradient:hover {
  color: #FFFFCC;
  box-shadow: 0 0 .1em rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
}

.buttonGradient:active  {
  /* Опускаем на 1px при нажатии */
  position: relative;
  top: 1px;
  cursor:wait;
}

/*           DISABLE          */
/*----------------------------*/
._buttonGradientDisable {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";  /* IE 8 */
  filter: alpha(opacity=20); /* IE 5-7 */
  -moz-opacity: 0.2; /* Netscape */
  -khtml-opacity: 0.2;  /* Safari 1.x */
  opacity: 0.2; /* Для остальных браузеров */
  color:#BCBCBC;
  background:#000;
}
._buttonGradientDisable:hover, .buttonGradientDisable:active {
  color:red;
}

.buttonGradientDisable, .buttonGradientDisable:hover, .buttonGradientDisable:active {
  background: #d9dddd;
  background: -webkit-gradient(linear, left top, left bottom, from(#c6c3c3), to(#d9dddd) );
  background: -moz-linear-gradient(-90deg, #c6c3c3, #d9dddd);
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cccccc', endColorstr='#cccccc');
  color: #e0e0e0;
}

/*            COLORS          */
/*----------------------------*/
/* active: blue */

.buttonGradientEnable {
    background: #4477a1;
    background: -webkit-gradient(linear, left top, left bottom, from(#81a8cb), to(#4477a1) );
    background: -moz-linear-gradient(-90deg, #81a8cb, #4477a1);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81a8cb', endColorstr='#4477a1');
}
.buttonGradientEnable:hover {
    background: #81a8cb;
    background: -webkit-gradient(linear, left top, left bottom, from(#4477a1), to(#81a8cb) );
    background: -moz-linear-gradient(-90deg, #4477a1, #81a8cb);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4477a1', endColorstr='#81a8cb');            
}
.buttonGradientEnable:active  {
    background: #4477a1;
}

/*        BUTTON PRESS        */
/*----------------------------*/
.buttonGradientPress {
  color: #ffffb0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0px solid transparent;
  box-shadow: 0 0 .1em rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
  background: #81a8cb;
  background: -webkit-gradient(linear, left top, left bottom, from(#4477a1), to(#81a8cb) );
  background: -moz-linear-gradient(-90deg, #4477a1, #81a8cb);
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4477a1', endColorstr='#81a8cb');            
}
.buttonGradientPress span {
  border-bottom: 0px solid transparent;
}


/* black
.buttonGradientEnable {
    background: #141414;
    background: -webkit-gradient(linear, left top, left bottom, from(#656565), to(#141414) );
    background: -moz-linear-gradient(-90deg, #656565, #141414);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#656565', EndColorStr='#141414');
}
.buttonGradientEnable:hover {
    background: #656565;
    background: -webkit-gradient(linear, left top, left bottom, from(#141414), to(#656565) );
    background: -moz-linear-gradient(-90deg, #141414, #656565);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#141414', EndColorStr='#656565');
}
.buttonGradientEnable:active {
    background: #141414;
}
*/

/*----------------------------*/
.buttonGradient-khaki {
    background: #A2B598;
    background: -webkit-gradient(linear, left top, left bottom, from(#BDD1B4), to(#A2B598) );
    background:-moz-linear-gradient(-90deg, #BDD1B4, #A2B598);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#BDD1B4', EndColorStr='#A2B598');        
}
.buttonGradient-khaki:hover {           
    background: #BDD1B4;
    background: -webkit-gradient(linear, left top, left bottom, from(#A2B598), to(#BDD1B4) );
    background: -moz-linear-gradient(-90deg, #A2B598, #BDD1B4);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A2B598', EndColorStr='#BDD1B4');
}
.buttonGradient-khaki:active {
    background: #A2B598;
}

/*----------------------------*/        
.buttonGradient-blue {
    background: #4477a1;
    background: -webkit-gradient(linear, left top, left bottom, from(#81a8cb), to(#4477a1) );
    background: -moz-linear-gradient(-90deg, #81a8cb, #4477a1);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81a8cb', endColorstr='#4477a1');
}
.buttonGradient-blue:hover {
    background: #81a8cb;
    background: -webkit-gradient(linear, left top, left bottom, from(#4477a1), to(#81a8cb) );
    background: -moz-linear-gradient(-90deg, #4477a1, #81a8cb);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4477a1', endColorstr='#81a8cb');            
}
.buttonGradient-blue:active  {
    background: #4477a1;
}

/*----------------------------*/
.buttonGradient-brown {
    background: #8f3714;
    background: -webkit-gradient(linear, left top, left bottom, from(#bf6f50), to(#8f3714) );
    background: -moz-linear-gradient(-90deg, #bf6f50, #8f3714);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#bf6f50', EndColorStr='#8f3714');
}
.buttonGradient-brown:hover {
    background: #bf6f50;
    background: -webkit-gradient(linear, left top, left bottom, from(#8f3714), to(#bf6f50) );
    background: -moz-linear-gradient(-90deg, #8f3714, #bf6f50);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#8f3714', EndColorStr='#bf6f50');
}
.buttonGradient-brown:active {
    background: #8f3714;
}

/*----------------------------*/
.buttonGradient-green {
    background: #428739;
    background: -webkit-gradient(linear, left top, left bottom, from(#c8dd95), to(#428739) );
    background: -moz-linear-gradient(-90deg, #c8dd95, #428739);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#c8dd95', EndColorStr='#428739');
}
.buttonGradient-green:hover {
    background: #c8dd95;
    background: -webkit-gradient(linear, left top, left bottom, from(#428739), to(#c8dd95) );
    background: -moz-linear-gradient(-90deg, #428739, #c8dd95);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#428739', EndColorStr='#c8dd95');
}
.buttonGradient-green:active {
    background: #428739;
}

/*----------------------------*/

.buttonGradient-red {
    background: #D82741;
    background: -webkit-gradient(linear, left top, left bottom, from(#E84B6E), to(#D82741) );
    background: -moz-linear-gradient(-90deg, #E84B6E, #D82741);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#E84B6E', EndColorStr='#D82741');
}
.buttonGradient-red:hover {
    background: #E84B6E;
    background: -webkit-gradient(linear, left top, left bottom, from(#D82741), to(#E84B6E) );
    background: -moz-linear-gradient(-90deg, #D82741, #E84B6E);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#D82741', EndColorStr='#E84B6E');
}
.buttonGradient-red:active {
    background: #D82741;
}

/*----------------------------*/
.buttonGradient-purple {
    background: #6F50E7;
    background: -webkit-gradient(linear, left top, left bottom, from(#B8A9F3), to(#6F50E7) );
    background: -moz-linear-gradient(-90deg, #B8A9F3, #6F50E7);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#B8A9F3', EndColorStr='#6F50E7');
}
.buttonGradient-purple:hover {
    background: #B8A9F3;
    background: -webkit-gradient(linear, left top, left bottom, from(#6F50E7), to(#B8A9F3) );
    background: -moz-linear-gradient(-90deg, #6F50E7, #B8A9F3);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#6F50E7', EndColorStr='#B8A9F3');
}
.buttonGradient-purple:active {
    background: #6F50E7;
}

/*----------------------------*/
.buttonGradient-orange {
    background: #f09c15;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8c939), to(#f09c15) );
    background: -moz-linear-gradient(-90deg, #f8c939, #f09c15);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#f8c939', EndColorStr='#f09c15');
}
.buttonGradient-orange:hover {
    background: #f8c939;
    background: -webkit-gradient(linear, left top, left bottom, from(#f09c15), to(#f8c939) );
    background: -moz-linear-gradient(-90deg, #f09c15, #f8c939);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#f09c15', EndColorStr='#f8c939');
}
.buttonGradient-orange:active {
    background: #f09c15;
}

/*----------------------------*/
.buttonGradient-silver {
    background: #c5c5c5;
    background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#c5c5c5) );
    background: -moz-linear-gradient(-90deg, #eaeaea, #c5c5c5);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#eaeaea', EndColorStr='#c5c5c5');
}
.buttonGradient-silver:hover {
    background: #eaeaea;
    background: -webkit-gradient(linear, left top, left bottom, from(#c5c5c5), to(#eaeaea) );
    background: -moz-linear-gradient(-90deg, #c5c5c5, #eaeaea);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#c5c5c5', EndColorStr='#eaeaea');
}
.buttonGradient-silver:active {
    background: #c5c5c5;
}         
