/*** BOX LOOKUP ***/
#lookup table {
  position:relative;
  margin:0px;
  padding:0px;
  border:0px;
  z-index:100;
  white-space:nowrap;
/*  background-color:#fff;*/
}
#lookup table tr {
/*  line-height:10px;*/
}
#lookup input {
/*  height:auto;*/
  margin:0px;
  padding:0px;
  border:0px;
  outline:none;
}
#lookup ul {
  margin-left:0px;
  padding-left:0em;
  text-indent:-1em;
  text-align:left;
/*
  font-size:80%;
  font-weight:normal;
*/
}
#lookup li {
  padding-left:1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  list-style:none;
  margin:0px 1px 0px 1px;
  display:block;
}
#lookup ul.hide {
  display:none;
  border:none;
}
#lookup ul.show {
  position:absolute;
  margin-top:0;
  border:1px solid #D0D0D0;
  border-top:none;
  background:#fff;
  z-index:100;
  border-radius:3px;
  box-shadow: 0px 2px 10px #B9B9B9;
}
#lookup div.edit {
  white-space:nowrap;
  margin:0px;
  padding:0px;
  border:1px solid #D0D0D0;
  border-radius:3px;
/*  background-color:#fff;*/
}
#lookup div.dataMarker {
  border-color: red;
}
#lookup a {
  text-decoration:none;
}
#lookup li.option a {
/*  color: #000;*/
  color: #6C6C6C;
/*  line-height:16px;*/  /* height */
/*  outline:none;*/
/*
  padding-left:2px;
  padding-right:2px;
*/
}
#lookup div.edit a {
  width:12px;
  margin:0 0 0 2px;
  border-radius: 4px;
  background-position: center center;
  background-repeat: no-repeat;
  outline: none;
}
#lookup div.edit a:hover, #lookup div.edit a:active, #lookup div.edit a:focus {
  background-color: #FFFFD0;
/*  background-color: #EAF7FD;*/
  box-shadow: 0px 0px 6px yellow;
  transition: 1.0s;
}
#lookup div.edit a.hide {
  background-image: url("../img/lookupDown.gif");
}
#lookup div.edit a.show {
  background-image: url("../img/lookupUp.gif");
}
#lookup div.edit a.disable {
  background-image: url("../img/lookupDownDisable.gif");
}
#lookup div.edit a:disabled {
  background-image: url("../img/lookupDownDisable.gif");
}

/*
#lookup li.selected {
  background-color:#ffffbb;
}
*/

/*** combobox ***/
#lookup div.edit a {
  display:inline-block;
  width:14px;
}
/*  button grid */
#lookup div.edit a.grid {
  background:url("../img/comboGrid.gif") no-repeat center center;
}
/*  button page */
#lookup div.edit a.detail {
  background:url("../img/page.png") no-repeat center center;
}
/*  button clear */
#lookup div.edit a.clear {
  background:url("../img/clear.png") no-repeat center center;
}
#lookup div.edit a.grid:hover, #lookup div.edit a.detail:hover, #lookup div.edit a.clear:hover {
  background-color:#FFFFD0;
/*  background-color: #EAF7FD;*/
}
#lookup div.edit a.grid:active, #lookup div.edit a.detail:active, #lookup div.edit a.clear:active {
  position: relative;
  top: 1px;
  cursor:wait;
}

/*** interval ***/
#interval .ico {
  vertical-align:middle;
  background:url("../img/interval.gif") no-repeat center center;
  width:7px;
}
#interval input {
  font-size:75%;
}
#interval input.number {
  display:block;
  width:100%;
  text-align:right;
}
#interval input.number.top {
  border-bottom: 1px solid #eee;
}
