/* MENU */

table#panelMenuTop td {
  position: relative;
  text-shadow: 0 1px 1px rgba(255,255,255,0.8);
}
table#panelMenuTop ul {
  margin: 0;
  margin-top:9px;
  border: 0 none;
  padding: 0;
  position: relative;
  list-style: none;
}
table#panelMenuTop:after {
  clear: both;
  display: block;
  font: 1px/0px serif;
/*  content: ".";*/
  height: 0;
  visibility: hidden;
}
table#panelMenuTop li {
  display: block !important; 
  display: inline;
  position: relative;
  white-space: nowrap;
}
table#panelMenuTop a.menu {
  border: 1px solid #eee;
  border-right-color: #527337;
  border-bottom-color: #527337;
  box-shadow: 0px 2px 10px #B9B9B9;
  padding: 0px 6px;
  display: block;
  background-color: #eee;
  color: #666;
/*  font: normal 12px/22px Verdana, Arial, Helvetica, sans-serif;*/
/*  font: normal 12px/20px  Verdana, Arial, Helvetica, sans-serif;*/
  line-height:1.7em;
  font-size: 0.8em;
/*  font-weight: bold;*/
  text-decoration: none;
  height: auto !important;
  height: 1%; 
}
/* href submenu >*/
table#panelMenuTop a.sub {
  padding-right: 12px;
  background-image: url(../img/arrowRightGrey.png);
  background-position: right center;
  background-repeat: no-repeat;
}

/* disabled */
table#panelMenuTop a.disabled {
  pointer-events: none;
  cursor: default;
  background-color: #eee;
  margin-left: 1px;
  text-decoration: none;
  height: auto !important;
}

table#panelMenuTop li a.disabled {
  color: #ccc;
  border: 1px solid #eee;
  border-right-color: #527337;
  border-bottom-color: #527337;
  padding: 0px 6px;
  display: block;
  line-height:1.7em;
  font-size: 0.8em;
}

table#panelMenuTop a.menu:hover,
table#panelMenuTop td:hover a.menu {
  background-color: #90b2cf;
  color: #fff;
}
table#panelMenuTop td:hover li a.menu {
/*  background-color: #cad8de;*/  /*#c8d7de; #ffffea; #e0e0e0*/
  background-color: #EFEFEF;
  color: #828282;
}
table#panelMenuTop td:hover li a.menu:hover,
table#panelMenuTop td:hover li:hover a.menu {
/*  background-color: #90b2cf;*/
/*  color: #fff;*/
  background-color: #E5F7FF;
  color: #000000;
  text-shadow: none;
}
table#panelMenuTop td:hover li:hover li a.menu {
  background-color: #cad8de;
  color: #828282;
}
table#panelMenuTop td:hover li:hover li a.menu:hover,
table#panelMenuTop td:hover li:hover li:hover a.menu {
  background-color: #90b2cf;
  color: #fff;
}
table#panelMenuTop td:hover li:hover li:hover li a.menu {
  background-color: #cad8de;
  color: #828282;
}
table#panelMenuTop td:hover li:hover li:hover li a.menu:hover {
  background-color: #90b2cf;
  color: #fff;
}

table#panelMenuTop ul {
  display: none;
  position: absolute;
  z-index: 1;
}
table#panelMenuTop ul ul,
table#panelMenuTop ul ul ul {
  display: none;
  position: absolute;
  top: 0px;
}
table#panelMenuTop td:hover ul ul,
table#panelMenuTop td:hover ul ul ul {
  display: none;
}
table#panelMenuTop td:hover ul,
table#panelMenuTop ul li:hover ul,
table#panelMenuTop ul ul li:hover ul {
  display: block;
}
